      #controls{
        position:absolute;
        right:0px;
        top:0px;
        border-style:solid;
        border-color:#7289da;
        font-family: 'Minecraft', sans-serif;
        background-image:url(https://nik1am.github.io/CTG/images/ibg.png);
        color:#fff838;
        padding-left: 10px;
        box-shadow: 0px 10px 109px -32px rgba(114,137,218,0.75);
     }
     body {
        background-image:url(https://nik1am.github.io/CTG/images/bg.png);
     }
     #smile{
        background-image: url(https://i.pinimg.com/originals/01/99/07/019907faa020a60609d6bc7b94161727.jpg);
        border-style: solid; 
        border-color: black; 
        border-width: 3px;
     }
     #bgurl{
        display: none;
     }
     input{
      background-image:url(https://nik1am.github.io/CTG/images/ibg.png);
        border:solid;
        border-color: #fff838;
        font-family:'Minecraft';
        color: #fff838;
     }
     input[type='range']{
        -webkit-appearance: none;
        height: 16;
     }
     input[type='color']{        
        cursor: pointer;
   }
     input[type='range']::-webkit-slider-thumb{
        -webkit-appearance: none;
        height:16;
        width:16;
        cursor: pointer;
        background: #fff838;
     }
     textarea{
      background-image:url(https://nik1am.github.io/CTG/images/ibg.png);
      color:#fff;
     }
  @font-face {
  font-family: "Minecraft";
  src:url('fonts/woff/mine.woff') format('woff');
  }
  @font-face {
  font-family: "UniSansHeavyCaps";
  src:url('fonts/woff/8519.woff') format('woff');
  }
  @font-face {
  font-family: "Konstruktor";
  src:url('fonts/woff/KONSTRUKTORREGULAR.woff') format('woff');
  }
  @font-face {
  font-family: "Wha?";
  src:url('fonts/woff/18427.woff') format('woff');
  }
  @font-face {
  font-family: "square-deal";
  src:url('fonts/woff/square-deal.woff') format('woff');
  }
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
